
    
     :root {
    --bg: #f9f9f9;
    --card-bg: #dcdcdc;
    --grahp-bg: #ededed;
    --text: #000;
    --border: #474747;
    --hover: #a3a3a3;
}

.dark {
    --bg: #1e1e1e;
    --card-bg: #333;
    --grahp-bg: #454554;
    --text: #e0e0e0;
    --border: #888;
    --hover: #435a76;
}
     .Main_container {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;
        position:absolute;

        gap: 20px;
        width: max-content;
        justify-self: center;
        height: 100%;
        margin: auto 0;
    }
    .Action_container {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(3,auto);

         gap: 20px;

        width: max-content;
        margin: 0 auto;
    }
    .Weather_container {
        display: grid;
        grid-template-rows: repeat(4,fit-content(100%));
        border-radius: 8px; 
        padding: 5px; 
        padding-bottom: 8px;
        width:500px ;
        height: auto; 
        margin: 0 auto;
        gap: 10px;
    }
    .System_button{
    font-size: 20pt;
    border-radius: 8px; 
    padding: 5px; 
    width: 300px;
    height: 120px; 
    margin: auto;
    }
    .System_button:hover,.button:hover {
    background: var(--hover);
}
    .wind_container{
        justify-self: end;
        justify-items: center;
        text-align: center;
    }
    .arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #9b9b9b;

}
.arrow::after {
    content: "";
    position: relative;
    top:-9px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #c3c3c3;
}

    #time{
        justify-self: center;
        font-size:20pt;
        margin-bottom: 10px;
    }
    .weather_mid{
        display: grid;
        grid-template-columns: repeat(2,auto);
        height: fit-content;
        gap:5px;
    }
    .weather_lower{
        height:auto;
        display: grid;
        grid-template-columns:  50% 48%;
        gap: 7px;
    }
    .control_bar{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5px;
    }
    .graph_container{
        bottom:0;
        display: grid;
        grid-template-rows:repeat(2,1fr) ;
        gap: 5px;
        
    }
    .button{
        justify-items: baseline;
        height:100%;
        border-radius: 8px;  
        text-align: center;
        user-select: none;
    }
    .graph{
        border-radius: 6px;
        width:100%;
    }
    #map {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    }
    .label{
        font-weight: bold;
    }
    #stats{
        font-size:20pt;
    }
    footer {
        position: fixed;
        bottom: 0;
        right:0;
        padding: 5px 10px;
        width: auto;
        color:#c0c0c0;
        
    }

    body {
    background: var(--bg);
    color: var(--text);
}

.Weather_container, .System_button {
    background: var(--card-bg);
    border: 4px solid var(--border);
}

.label {
    color: var(--text);
}
 #map,.graph,.button{
    background: var(--grahp-bg);
    border: 2px solid var(--border)
 }
