
    
     .Main_container {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;

         gap: 20px;

        width: max-content;
        justify-self: center;
        margin: auto 0;
    }
    .Action_container {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(3,auto);

         gap: 20px;

        width: max-content;
        margin: 0 auto;
    }
    .Weather_container {
        display: grid;
        grid-template-rows: repeat(4,fit-content(100%));
        border: 4px solid #474747; 
        background: #e3e3e3; 
        border-radius: 8px; 
        padding: 5px; 
        width:500px ;
        height: auto; 
        margin: 0 auto;
        gap: 10px;
    }
    .System_button{
    font-size: 20pt;
    border: 4px solid #474747; 
    background: #c0c0c0; 
    border-radius: 8px; 
    padding: 5px; 
    width: 300px;
    height: 120px; 
    margin: auto;
    }
    .wind_container{
        justify-self: end;
        justify-items: center;
        text-align: center;
    }
    .arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #9b9b9b;
}
.arrow::after {
    content: "";
    position: absolute;
    top:9px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #c3c3c3;
}

    #time{
        justify-self: center;
        font-size:20pt;
        margin-bottom: 10px;
    }
    .weather_mid{
        display: grid;
        grid-template-columns: repeat(2,auto);
        height: fit-content;
    }
    .weather_lower{
        height:auto;
        display: grid;
        grid-template-columns:  50% 48%;
        gap: 7px;
    }
    .graph_container{
        bottom:0;
        display: grid;
        grid-template-rows:repeat(2,1fr) ;
        gap: 5px;
        
    }
    .graph{
        background: #c0c0c0;
        border: 2px solid #474747; 
        border-radius: 6px;
        width:100%;
    }
    #map {
    background: #d0d0d0;
    border: 2px solid #474747;
    width: 100%;
    height: 200px;
    
    border-radius: 6px;
    }
    .label{
        font-weight: bold;
    }
    #stats{
        font-size:20pt;
    }
    footer {
        position: fixed;
        bottom: 0;
        right:0;
        padding: 5px 10px;
        width: auto;
        color:#c0c0c0;
        
    }